/* You can add global styles to this file, and also import other style files */

table{
    color: brown;
    font-size: large;
    border: 1px solid black;
}
tr, td{
    border: 1px solid black;
    
}